@import url("https://fonts.googleapis.com/css?family=Poppins:font-wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.name {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: ;
}

.name-col {
    color: rgb(27, 136, 224);
}

.navbar a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(27, 136, 224);
}

#menu {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

.Home {
    height: 630px;
    display: flex;
    align-items: center;
    padding: 10%;
    /* background-color: green;*/
}

.content {
    width: 600px;
    height: 50%;
    /* background-color: red;*/
}

.con-name {
    color: rgb(27, 136, 224);
}

.content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 2;
}

#H-btn {
    position: relative;
    top: 1cm;
}

@keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

.pic {
    background-image: url(https://t3.ftcdn.net/jpg/06/96/11/58/360_F_696115884_rb4mj5dLyurP1NfQ1W5gOAGyAdlt8T8P.jpg);
    width: 300px;
    height: 300px;
    background-position: center center;
    box-shadow: 0 5px 5px 5px rgb(28, 73, 194);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    margin: 8%;
    border: 3px;
    padding: 15%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    right: 0;

    width: 25%;
    height: 70%;
}

.About {
    padding: 8% 10%;
    /* background-color: green;*/
}

.A-me {
    color: rgb(27, 136, 224);
    text-decoration: ;
}

h2 {
    text-decoration: ;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.info {
    /* background-color: green; */
    width: 100%;
    margin: 0 2% 0 2%;
    padding: 5% 5% 5% 5%;
    padding-bottom: 0;

    text-align: initial;
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg,
            rgba(77, 54, 208, 1) 0%,
            rgba(132, 116, 254, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

.down-cv {
    /*background-color: red;*/
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

#Education {
    padding: 8%;
}

.contents {
    /* background-color: rgb(173, 169, 162); */
    margin-top: 6%;
    padding: 0 20% 0 20%;
    border-left: 3px solid rgb(27, 136, 224);
}

.contents .box {
    position: relative;
    padding: 1% 5% 1% 5%;
    border: 1px solid rgb(27, 136, 224);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 4.5%;
}

.contents .box:hover {
    box-shadow: 0 3px 12px 0 #68b0eb;
    border: 0.5px solid transparent;
}

.contents .box::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 32.7%);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}
